body {
  font-family: Arial, sans-serif;
  background-color: #f9f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tabs {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.tab-link {
  background: transparent;
  color: #fff;
  cursor: pointer;
  width: 237px;
  height: 38px;
  border-radius: 20px;
  border: none;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  transition: 0.3s ease-in-out;
  margin: 4px 10px;
}

.tab-link:hover{
  background-color: #ffdf00;
  color: #000;
}

.tab-link.active {
  background-color: #fff;
  color: #000;
}

.product-carousel {
  margin: 50px auto;
  width: 80%;
  display: flex;
}

.product-card {
  background-color: #fff;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  margin: 0 8px;
}

.product-card img {
  width: 150px;
  height: 150px;
}