body {
  font-family: Arial, sans-serif;
  background-color: #f9f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tabs {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.tab-link {
  background: transparent;
  color: #fff;
  cursor: pointer;
  width: 237px;
  height: 38px;
  border-radius: 20px;
  border: none;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  transition: 0.3s ease-in-out;
  margin: 4px 10px;
}

.tab-link:hover{
  background-color: #ffdf00;
  color: #000;
}

.tab-link.active {
  background-color: #fff;
  color: #000;
}

.product-carousel {
  margin: 50px auto;
  width: 80%;
  display: flex;
}

.product-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  margin: 0 8px;
  padding-bottom: 0;
}

.product-card img {
  width: 150px;
  height: 150px;
}

.imageProduct {
  display: flex;
  align-items: center;
  justify-content: center;
}

.productName {
  font-family: Open Sans,sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: .015em;
  color: #373737;
  text-align: left;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
  min-height: 50px;
  max-height: 50px;
}

.price {
  font-family: Open Sans,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: .015em;
  color: #43b02a;
}

.installments {
  font-family: Open Sans,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: .015em;
  color: #373737;
}

.sellerType {
  font-weight: 700;
  margin-left: 8px;
}

.adicionar {
  background-color: #43b02a;
  border-color: #43b02a;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  color: #fff;
  font-family: Open Sans,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #fff;
  text-transform: lowercase;
  cursor: pointer;
  border: 0;
}

.seller {
  font-family: Open Sans,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: .015em;
  color: #373737;
  min-height: 30px;
  justify-content: center;
  background-color: #f1f1f1;
  border-radius: 0 0 15px 15px;
  margin-bottom: 0;
}